# Data Science Tools and Ecosystem

## Introduction

In this notebook, Data Science Tools and Ecosystem are summarized. We will explore various programming languages, libraries, and tools commonly used in data science, along with some practical examples of arithmetic operations.

## Data Science Languages

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala
6. Java
7. C++
8. JavaScript

## Data Science Libraries

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. TensorFlow
7. Keras
8. PyTorch
9. SciPy
10. Plotly

## Data Science Tools

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| RStudio |
| Apache Spark |
| TensorFlow |
| Apache Hadoop |
| Tableau |
| Power BI |
| Excel |
| KNIME |

## Arithmetic Expression Examples

Below are a few examples of evaluating arithmetic expressions in Python. These examples demonstrate basic mathematical operations such as multiplication, addition, and division.

In [1]:
# Multiply and add numbers
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
print(result)
# Output: 17

17

In [2]:
# Convert minutes to hours
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours")
# Output: 200 minutes is equal to 3.3333333333333335 hours

200 minutes is equal to 3.3333333333333335 hours

## Objectives

This notebook covered the following key topics:

- Popular languages used in Data Science
- Commonly used Data Science libraries
- Overview of Data Science tools and development environments
- Basic arithmetic operations in Python
- Converting units using Python code
- Creating and formatting markdown cells in Jupyter Notebook

## Author

**VARUN DAMAL**